<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            <h2>Edição de Categoria</h2>
                        </div>
                        <div class="card-body">
                            <form id="category-form" action="/admin/categories/update/<%= category.id_categoria %>">
                                <input class="form-control" type="text" name="nome"
                                    placeholder="Defina o nome da categoria" value="<%= category.nome %>"><br>
                                <input type="hidden" name="id_categoria" value="<%= category.id_categoria %>">
                                <button type="submit" class="btn btn-success" disabled>Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="error-popup-container"></div>
            </main>

            <%- include('../../partials/footer.ejs') %>

                <script type="module">

                    import { setupSingleFieldEdit } from '/js/single-field-edit.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        setupSingleFieldEdit({
                            formSelector: '#category-form',
                            inputName: 'nome',
                            redirectUrl: '/admin/categories',
                            fieldKey: 'nome'
                        })
                    });

                </script>
        </body>

        </html>