<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin/dashboard">🛍️ Claudinha Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% navLinks.forEach(link=> { %>
                    <% if (link.dropdown) { %>
                        <% const isDropdownActive=link.dropdown && link.dropdown.some(item=>
                            currentPath.startsWith(item.href));
                            %>
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle <%= isDropdownActive ? 'active' : '' %>"
                                    id="navbarDropdown-<%= link.label %>" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <%= link.label %>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-<%= link.label %>">
                                    <% link.dropdown.forEach(item=> { %>
                                        <li><a class="dropdown-item <%= currentPath === item.href ? 'active' : '' %>"
                                                href="<%= item.href %>">
                                                <%= item.label %>
                                            </a></li>
                                        <% }) %>
                                </ul>
                            </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link <%= currentPath === link.href ? 'active' : '' %>"
                                        href="<%= link.href %>">
                                        <%= link.label %>
                                    </a>
                                </li>
                                <% } %>
                                    <% }) %>
            </ul>
        </div>
    </div>
    <form action="/logout" method="POST" class="d-inline">
        <button class="btn btn-outline-light btn-sm me-2" type="submit">Logout</button>
    </form>
</nav>