<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Edição de PDV</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/pdvs/update/<%= pdv.id_pdv %>">
                        <input class="form-control" type="text" name="identificacao" placeholder="Identificação do Ponto de Venda"
                            value="<%= pdv.identificacao %>"><br>
                        <input class="form-control" type="text" name="descricao" placeholder="Descreva o Ponto de Venda"
                            value="<%= pdv.descricao %>"><br>
                        <input class="form-control" type="text" name="status" placeholder="Status do PDV(ativo ou inativo)"
                            value="<%= pdv.status %>"><br>
                        <input type="hidden" name="id_pdv" value="<%= pdv.id_pdv %>">
                        <button class="btn btn-success">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs') %>
        