<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <hr>
                    <a href="/admin/pdvs/new" class="btn btn-success">Cadastrar PDV</a>
                    <hr>
                    <table id="table-data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Identificação</th>
                                <th>Descrição</th>
                                <th>Status</th>
                                <th>Ações
                                    <label class="form-check-label ms-2">
                                        <input type="checkbox" id="toggleExcluir" class="form-check-input">
                                        <span class="d-inline-block">Habilitar Excluir</span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="pdv-table-body">
                            <% pdvs.forEach(pdv=> { %>
                                <tr>
                                    <td>
                                        <%= pdv.id_pdv %>
                                    </td>
                                    <td>
                                        <%= pdv.identificacao %>
                                    </td>
                                    <td>
                                        <%= pdv.descricao %>
                                    </td>
                                    <td>
                                        <%= pdv.status %>
                                    </td>
                                    <td>
                                        <a href="/admin/pdvs/edit/<%= pdv.id_pdv %>" class="btn btn-warning">Editar</a>
                                        <form action="/admin/pdvs/delete/<%= pdv.id_pdv %>" method="POST"
                                            style="display: inline;">
                                            <input type="hidden" name="id_pdv" value="<%= pdv.id_pdv %>">
                                            <button class="btn btn-danger excluir-btn"
                                                style="display: none;">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
            <div id="error-popup-container"></div>
            
            <%- include('../../partials/footer.ejs') %>

                <script type="module">
                    import { setupRowDelete } from '/js/delete-handler.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        const deleteForms = document.querySelectorAll('[data-delete-form]');
                        const toggleExcluir = document.getElementById('toggleExcluir');
                        const tableBody = document.getElementById('pdv-table-body');

                        setupRowDelete(deleteForms, toggleExcluir, tableBody);
                    });
                </script>
        </body>

        </html>