<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <h2>Estoques</h2>
            <a href="/admin/estoques/new" class="btn btn-success">Cadastrar Estoque</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Quantidade Atual</th>
                        <th>Localização</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="category-table-body">
                    <label>
                        <input type="checkbox" id="toggleExcluir">
                        Habilitar botão Excluir
                    </label>
                    <% estoques.forEach(estoque=> { %>
                        <tr>
                            <td>
                                <%= estoque.id_estoque %>
                            </td>
                            <td>
                                <% const produto=produtos.find(p=> p.id_produto === estoque.id_produto); %>
                                    <%= produto ? produto.nome : 'Produto não encontrado' %>
                            </td>
                            <td>
                                <%= estoque.quantidade_atual %>
                            </td>
                            <td>
                                <%= estoque.localizacao %>
                            </td>
                            <td>
                                <a href="/admin/estoques/edit/<%= estoque.id_estoque %>?produto=<%= estoque.id_produto %>"
                                    input type="hidden" name="id_produto" value="<%= estoque.id_produto %>"
                                    class="btn btn-warning">Editar</a>
                                <form action="/admin/estoques/delete/<%= estoque.id_estoque %>" method="POST"
                                    style="display: inline;">
                                    <input type="hidden" name="id_estoque" value="<%= estoque.id_estoque %>">
                                    <button class="btn btn-danger excluir-btn" style="display: none;">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <%- include('../../partials/footer.ejs') %>

            <script>

                document.addEventListener('DOMContentLoaded', function () {
                    const deleteForms = document.querySelectorAll('form[action^="/admin/estoques/delete"]');
                    const toggleExcluir = document.getElementById('toggleExcluir');
                    const tableBody = document.getElementById('category-table-body');

                    toggleExcluir.addEventListener('change', function () {
                        tableBody.classList.toggle('delete-enabled', this.checked);
                    });

                    deleteForms.forEach(form => {
                        form.addEventListener('submit', function (event) {
                            event.preventDefault();
                            if (confirm('Você tem certeza que deseja excluir este estoque?')) {
                                this.submit();
                            }
                        });
                    });
                });
            </script>