<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            <h2>Edição de Produto</h2>
                        </div>
                        <div class="card-body">
                            <form id="produto-form" method="POST" action="/admin/produtos/update/<%= produto.id_produto %>">
                                <input id="produto-name-input" class="form-control" type="text" name="nome"
                                    placeholder="Defina o nome do produto" value="<%= produto.nome %>"><br>
                                <input id="produto-preco-input" class="form-control" type="text" name="preco"
                                    placeholder="Defina o preço do produto" value="<%= produto.preco %>"><br>
                                <input id="produto-code-input" class="form-control" type="text" name="codigo_barras"
                                    placeholder="Defina o código de barras do produto"
                                    value="<%= produto.codigo_barras %>"><br>
                                <select name="id_categoria" class="form-select" required>
                                    <% categorias.forEach(categoria=> { %>
                                        <% if (categoria.id_categoria==produto.id_categoria) { %>
                                            <option value="<%= categoria.id_categoria %>" selected>
                                                <%= categoria.nome %>
                                            </option>
                                            <% } else { %>
                                                <option value="<%= categoria.id_categoria %>">
                                                    <%= categoria.nome %>
                                                </option>
                                                <% } %>
                                                    <% }) %>
                                </select><br>
                                <select name="id_fornecedor" class="form-select" required>
                                    <% fornecedores.forEach(fornecedor=> { %>
                                        <% if (fornecedor.id_fornecedor==produto.id_fornecedor) { %>
                                            <option value="<%= fornecedor.id_fornecedor %>" selected>
                                                <%= fornecedor.nome_fornecedor %>
                                            </option>
                                            <% } else { %>
                                                <option value="<%= fornecedor.id_fornecedor %>">
                                                    <%= fornecedor.nome_fornecedor %>
                                                </option>
                                                <% } %>
                                                    <% }) %>
                                </select><br>
                                <select name="id_marca" class="form-select" required>
                                    <% marcas.forEach(marca=> { %>
                                        <% if (marca.id_marca==produto.id_marca) { %>
                                            <option value="<%= marca.id_marca %>" selected>
                                                <%= marca.nome_marca %>
                                            </option>
                                            <% } else { %>
                                                <option value="<%= marca.id_marca %>">
                                                    <%= marca.nome_marca %>
                                                </option>
                                                <% } %>
                                                    <% }) %>
                                </select><br>
                                <input type="hidden" name="id_produto" value="<%= produto.id_produto %>">
                                <button type="submit" class="btn btn-success" disabled>Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <div id="error-popup-container"></div>
            
            <%- include('../../partials/footer.ejs') %>

                <script type="module">

                    import { setupMultiFieldEdit } from '/js/multi-field-edit.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        setupMultiFieldEdit({
                            formSelector: '#produto-form',
                            redirectUrl: '/admin/produtos',
                            inputFields: [
                                '#produto-name-input',
                                '#produto-preco-input',
                                '#produto-code-input',
                            ],
                            selectFields: [
                                'select[name="id_categoria"]',
                                'select[name="id_fornecedor"]',
                                'select[name="id_marca"]'
                            ],
                            requiredFields: ['nome', 'preco', 'codigo_barras', 'id_categoria', 'id_fornecedor', 'id_marca'],
                            fieldMap: {
                                nome: '#produto-name-input',
                                preco: '#produto-preco-input',
                                codigo_barras: '#produto-code-input',
                                id_categoria: 'select[name="id_categoria"]',
                                id_fornecedor: 'select[name="id_fornecedor"]',
                                id_marca: 'select[name="id_marca"]'
                            }
                        });

                    });
                </script>
        </body>

        </html>