<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <div class="container">
                <hr>
                <h2>Lotes</h2>
                <a href="/admin/lotes/new" class="btn btn-success">Cadastrar lote</a>
                <hr>
                <table id="table-data" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Número do Lote</th>
                            <th>Quantidade Atual</th>
                            <th>Localização</th>
                            <th>Validade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="category-table-body">
                        <label>
                            <input type="checkbox" id="toggleExcluir">
                            Habilitar botão Excluir
                        </label>
                        <% lotes.forEach(lote=> { %>
                            <tr>
                                <td>
                                    <% const produto=produtos.find(p=> p.id_produto === lote.id_produto); %>
                                        <%= produto ? produto.nome : 'Produto não encontrado' %>
                                </td>
                                <td>
                                    <%= lote.numero_lote %>
                                </td>
                                <td>
                                    <%= lote.quantidade %>
                                </td>
                                <td>
                                    <%= lote.localizacao %>
                                </td>
                                <td>
                                    <%= formatDate(lote.data_validade) %>
                                </td>
                                <td>
                                    <a href="/admin/lotes/edit/<%= lote.id_lote %>?produto=<%= lote.id_produto %>"
                                        class="btn btn-warning">Editar</a>
                                    <form class="data-delete-form" action="/admin/lotes/delete/<%= lote.id_lote %>"
                                        method="POST" style="display: inline;">
                                        <input type="hidden" name="id_lote" value="<%= lote.id_lote %>">
                                        <button class="btn btn-danger excluir-btn"
                                            style="display: none;">Excluir</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

            <%- include('../../partials/footer.ejs') %>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const deleteForms = document.querySelectorAll('[data-delete-form]');
                        const toggleExcluir = document.getElementById('toggleExcluir');
                        const tableBody = document.getElementById('category-table-body');

                        toggleExcluir.addEventListener('change', function () {
                            tableBody.classList.toggle('delete-enabled', this.checked);
                        });

                        deleteForms.forEach(form => {
                            form.addEventListener('submit', function (event) {
                                event.preventDefault();
                                if (confirm('Você tem certeza que deseja excluir este lote?')) {
                                    this.submit();
                                }
                            });
                        });
                    });
                </script>

        </body>

        </html>