<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            <h2>Editar Fornecedor</h2>
                        </div>
                        <div class="card-body">
                            <form id="fornecedor-form"
                                action="/admin/fornecedores/update/<%= fornecedor.id_fornecedor %>">
                                <input class="form-control" type="text"
                                    name="nome_fornecedor" placeholder="Defina o nome da fornecedor"
                                    value="<%= fornecedor.nome_fornecedor %>"><br>
                                <input type="hidden" name="id_fornecedor" value="<%= fornecedor.id_fornecedor %>">
                                <button type="submit" class="btn btn-success" disabled>Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="error-popup-container"></div>
            </main>

            <%- include('../../partials/footer.ejs') %>

                <script type="module">

                    import { setupSingleFieldEdit } from '/js/single-field-edit.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        setupSingleFieldEdit({
                            formSelector: '#fornecedor-form',
                            inputName: 'nome_fornecedor',
                            redirectUrl: '/admin/fornecedores',
                            fieldKey: 'nome_fornecedor'
                        });
                    });

                </script>
        </body>

        </html>