<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <table id="table-data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Marcas</th>
                                <th>Ações
                                    <label class="form-check-label ms-2">
                                        <input type="checkbox" id="toggleExcluir" class="form-check-input">
                                        <span class="d-inline-block">Habilitar Excluir</span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="marca-table-body">
                            <% marcas.forEach(marca=> { %>
                                <tr>
                                    <td>
                                        <%= marca.nome_marca %>
                                    </td>
                                    <td>
                                        <a href="/admin/marcas/edit/<%= marca.id_marca %>"
                                            class="btn btn-warning">Editar</a>
                                        <a href="/admin/produtos/marca/<%= marca.id_marca %>" class="btn btn-primary">Ver
                                            Produtos</a>
                                        <form class="data-delete-form" action="/admin/marcas/delete/<%= marca.id_marca %>"
                                            style="display: inline;">
                                            <input type="hidden" name="id_marca" value="<%= marca.id_marca %>">
                                            <button class="btn btn-danger excluir-btn"
                                                style="display: none;">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>

            <div id="error-popup-container"></div>

            <%- include('../../partials/footer.ejs') %>

                <script type="module">

                    import { setupRowDelete } from '/js/delete-handler.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        const deleteForms = document.querySelectorAll('.data-delete-form');
                        const toggleExcluir = document.getElementById('toggleExcluir');
                        const tableBody = document.getElementById('marca-table-body');

                        setupRowDelete(deleteForms, toggleExcluir, tableBody);
                    });

                </script>
        </body>

        </html>