<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <hr>
                    <a href="/admin/clientes/new" class="btn btn-success">Cadastrar Cliente</a>
                    <hr>
                    <table id="table-data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>CPF</th>
                                <th>Ações
                                    <label class="form-check-label ms-2">
                                        <input type="checkbox" id="toggleExcluir" class="form-check-input">
                                        <span class="d-inline-block">Habilitar Excluir</span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="clientes-table-body">
                            <% clientes.forEach(cliente=> { %>
                                <tr>
                                    <td>
                                        <%= cliente.nome %>
                                    </td>
                                    <td>
                                        <%= cliente.email %>
                                    </td>
                                    <td>
                                        <%= cliente.telefone %>
                                    </td>
                                    <td>
                                        <%= cliente.cpf %>
                                    </td>
                                    <td>
                                        <a href="/admin/clientes/edit/<%= cliente.id_cliente %>"
                                            class="btn btn-warning">Editar</a>
                                        <form id="data-delete-form"
                                            action="/admin/clientes/delete/<%= cliente.id_cliente %>" method="POST"
                                            style="display: inline;">
                                            <input type="hidden" name="id_cliente" value="<%= cliente.id_cliente %>">
                                            <button class="btn btn-danger excluir-btn"
                                                style="display: none;">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
            <div id="error-popup-container"></div>

            <%- include('../../partials/footer.ejs') %>

                <script type="module">

                    import { setupRowDelete } from '/js/delete-handler.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        const deleteForms = document.querySelectorAll('.data-delete-form');
                        const toggleExcluir = document.getElementById('toggleExcluir');
                        const tableBody = document.getElementById('clientes-table-body');

                        setupRowDelete(deleteForms, toggleExcluir, tableBody);
                    });
                </script>
        </body>

        </html>