<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Registrar Venda</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/vendas/update/<%= venda.id_venda %>">
                        <small class="form-text text-muted">
                            Se deixado em branco, manterá a data já cadastrada.
                        </small>
                        <input class="form-control" type="datetime-local" name="data_abertura"><br>
                        <select name="id_cliente" class="form-select">
                            <% clientes.forEach(cliente=> { %>
                                <% if (cliente.id_cliente==venda.id_cliente) { %>
                                    <option value="<%= cliente.id_cliente %>" selected>
                                        <%= cliente.nome %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= cliente.id_cliente %>">
                                            <%= cliente.nome %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select><br>
                        <select name="id_funcionario" class="form-select">
                            <% funcionarios.forEach(funcionario=> { %>
                                <% if (funcionario.id_funcionario==venda.id_funcionario) { %>
                                    <option value="<%= funcionario.id_funcionario %>" selected>
                                        <%= funcionario.nome %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= funcionario.id_funcionario %>">
                                            <%= funcionario.nome %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select><br>
                        <select name="id_caixa" class="form-select">
                            <% caixas.forEach(caixa=> { %>
                                <% if (caixa.id_caixa==venda.id_caixa) { %>
                                    <option value="<%= caixa.id_caixa %>" selected>
                                        <%= caixa.id_caixa %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= caixa.id_caixa %>">
                                            <%= caixa.id_caixa %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select><br>
                        <button class="btn btn-success">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs') %>
        