<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Registrar Venda</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/vendas/update/<%= venda.id_venda %>">
                        <small class="form-text text-muted">
                            Se deixado em branco, manterá a data já cadastrada.
                        </small>
                        <input class="form-control" type="datetime-local" name="data_abertura"><br>
                        <select name="id_cliente" class="form-select">
                            <% clientes.forEach(cliente=> { %>
                                <% if (cliente.id_cliente==venda.id_cliente) { %>
                                    <option value="<%= cliente.id_cliente %>" selected>
                                        <%= cliente.nome %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= cliente.id_cliente %>">
                                            <%= cliente.nome %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select><br>
                        <select name="id_funcionario" class="form-select">
                            <% funcionarios.forEach(funcionario=> { %>
                                <% if (funcionario.id_funcionario==venda.id_funcionario) { %>
                                    <option value="<%= funcionario.id_funcionario %>" selected>
                                        <%= funcionario.nome %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= funcionario.id_funcionario %>">
                                            <%= funcionario.nome %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select><br>
                        <select name="id_caixa" class="form-select">
                            <% caixas.forEach(caixa=> { %>
                                <% if (caixa.id_caixa==venda.id_caixa) { %>
                                    <option value="<%= caixa.id_caixa %>" selected>
                                        <%= caixa.id_caixa %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= caixa.id_caixa %>">
                                            <%= caixa.id_caixa %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select><br>
                        <div id="itens-venda-container">
                            <div class="item-row">
                                <select name="itens[0][id_produto]" class="form-select">
                                    <% produtos.forEach(produto=> { %>
                                        <% if (produto.id_produto==venda.id_produto) { %>
                                            <option value="<%= produto.id_produto %>" selected>
                                                <%= produto.id_produto %>
                                            </option>
                                            <% } else { %>
                                                <option value="<%= produto.id_produto %>">
                                                    <%= produto.id_produto %>
                                                </option>
                                                <% } %>
                                                    <% }) %>
                                </select>
                                <input type="number" name="itens[0][quantidade]" placeholder="Quantidade">
                            </div>
                        </div>
                        <button type="button" id="add-item-btn" class="btn btn-primary">Adicionar outro produto</button>
                        <button class="btn btn-success">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs') %>

            <%- include('../../partials/footer.ejs') %>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const addItemBtn = document.getElementById('add-item-btn');
                        const itemsContainer = document.getElementById('itens-venda-container');
                        let itemIndex = 1;

                        addItemBtn.addEventListener('click', () => {

                            const firstItemRow = document.querySelector('.item-row');
                            const newItemRow = firstItemRow.cloneNode(true);

                            const selectField = newItemRow.querySelector('select');
                            const inputField = newItemRow.querySelector('input');

                            selectField.name = `itens[${itemIndex}][id_produto]`;
                            inputField.name = `itens[${itemIndex}][quantidade]`;
                            inputField.value = '';

                            itemsContainer.appendChild(newItemRow);

                            itemIndex++;
                        });
                    });
                </script>