<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <table id="table-data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Produtos</th>
                                <th>Data</th>
                                <th>Ações
                                    <label class="form-check-label ms-2">
                                        <input type="checkbox" id="toggleExcluir" class="form-check-input">
                                        <span class="d-inline-block">Habilitar Excluir</span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="category-table-body">
                            <% vendas.forEach(venda=> { %>
                                <tr>
                                    <td>
                                        <% const cliente=clientes.find(c=> c.id_cliente === venda.id_cliente);
                                            if (cliente) { %>
                                            <%= cliente.nome %>
                                                <% } else { %>
                                                    -
                                                    <% } %>
                                    </td>
                                    <td>
                                        <ul>
                                            <% if (venda.itemvendas && venda.itemvendas.length> 0) { %>
                                                <% venda.itemvendas.forEach(item=> { %>
                                                    <li>
                                                        <% const produto=produtos.find(p=> p.id_produto ===
                                                            item.id_produto); %>
                                                            <%= produto ? produto.nome : 'Produto Desconhecido' %>
                                                                (<%= item.quantidade %>)
                                                    </li>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <li>Nenhum item</li>
                                                            <% } %>
                                        </ul>
                                    </td>
                                    <td>
                                        <%= formatDate(venda.data_hora) %>
                                    </td>
                                    <td>
                                        <a href="/admin/vendas/edit/<%= venda.id_venda %>"
                                            class="btn btn-warning">Editar</a>
                                        <form action="/admin/vendas/delete/<%= venda.id_venda %>" method="POST"
                                            style="display: inline;">
                                            <input type="hidden" name="id_venda" value="<%= venda.id_venda %>">
                                            <button class="btn btn-danger excluir-btn"
                                                style="display: none;">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>

            <%- include('../../partials/footer.ejs') %>

                <script>

                    document.addEventListener('DOMContentLoaded', function () {
                        const deleteForms = document.querySelectorAll('form[action^="/admin/caixas/delete/]');
                        const toggleExcluir = document.getElementById('toggleExcluir');
                        const tableBody = document.getElementById('category-table-body');

                        toggleExcluir.addEventListener('change', function () {
                            tableBody.classList.toggle('delete-enabled', this.checked);
                        });

                        deleteForms.forEach(form => {
                            form.addEventListener('submit', function (event) {
                                event.preventDefault();
                                if (confirm('Você tem certeza que deseja remover este funcionario?')) {
                                    this.submit();
                                }
                            });
                        });
                    });
                </script>
        </body>

        </html>