<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Registrar Caixa</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/caixas/save">
                        <small class="form-text text-muted">
                            Se deixado em branco, será preenchido com a data e hora atual automaticamente.
                        </small>
                        <input class="form-control" type="datetime-local" name="data_abertura"><br>
                        <input class="form-control" type="datetime-local" name="data_fechamento"><br>
                        <input class="form-control" type="text" name="saldo_inicial"
                            placeholder="Insira o saldo inicial"><br>
                        <input class="form-control" type="text" name="saldo_final"
                            placeholder="Insira o saldo final"><br>
                        <input class="form-control" type="text" name="status"
                            placeholder="Qual o status do caixa: aberto ou fechado."><br>
                        <select name="id_pdv" class="form-select">
                            <% pdvs.forEach(pdv=> { %>
                                <option value="<%= pdv.id_pdv %>">
                                    <%= pdv.identificacao %>
                                </option>
                                <% }) %>
                        </select><br>
                        <select name="id_funcionario" class="form-select">
                            <% funcionarios.forEach(funcionario=> { %>
                                <option value="<%= funcionario.id_funcionario %>">
                                    <%= funcionario.nome %>
                                </option>
                                <% }) %>
                        </select><br>
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs') %>